[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Ohm
Icon=/usr/share/icons/hicolor/86x86/apps/harbour-ohm.png
Exec=harbour-ohm

